p {font-family: Arial, Helvetica, sans-serif}

h2 { font-family: "Arial Black", "Arial Bold", Gadget, sans-serif}

body  {
    background-image: url("../images/background-node.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
  }

.container {background-color: white;}

.venn {
  /* border: 0.1px solid #e9e9e9; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Bio Card https://www.w3schools.com/howto/howto_css_profile_card.asp */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    /* color: grey; */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .fa-logo {
    text-decoration: none;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 30px;
    color: #595959;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }


  /* timeline two http://jsfiddle.net/cfzsgkyn/*/

  .list-wrapper {
    position:relative;
  }
  .list-item-wrapper {
    margin-top:10px;
    position:relative;
  }
  .list-bullet {
    float:left;
    margin-right:20px;
    background:#118AB2;
    height:20px;
    width:20px;
    line-height:30px;
    border-radius:100px;
    font-weight:700;
    color:white;
    text-align:center;
    z-index:1;
  }
  .list-item {
    display:table-row;
    vertical-align:middle;
  }
  .list-title {
      font-weight:700;
  }
  .list-text {
      font-weight:400;
  }
  .timeline-line {
    background:#118AB2;
    z-index:0;
    width:2px;
    height:100%;
    position:absolute;
    left:10px;
  }
  .white-line {
    background:#FFF;
    z-index:-1;
    top:0px;
    width:2px;
    height:100%;
    position:absolute;
    left:10px;
  }

  .gif-image {
    height: 350px;
    width: auto;
    overflow: hidden; 
  }

  .hashtag {
    color: #118AB2;
    font-style: italic; 
    font-size: 14px;
  }

  .project-header{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 24px;
  }

  .project-header-blue{
    background-color: #118AB2;
    color: white;
    padding: 10px
  }

  .project-header-pink{
    background-color: #EF476F;
    color: white;
    padding: 10px
  }

  